+/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 // ----------------------------------------------------
 // 
 // Remove unused code for better performances
 // 
 // ----------------------------------------------------
 // 
 // @see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 // 
 // @note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 // 
 /////////////////////////////////////////////////////////////////////*/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
#navigation {
  /* 1. Navigation wrapper */
}
#highlighted {
  /* 2. Highlighted (below header) wrapper */
}
#content {
  /* 3. Content wrapper */
}
#content-below {
  /* 4. Content Below wrapper */
}
#footer {
  /* 5. Footer wrapper */
}
/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */
/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
@media (min-width: 992px) {
  
}
@media (min-width: 768px) and (max-width: 991px) {
  
}
/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */
.logod1
{
  background-image: url('../img/superscribe-blue-white.svg');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  padding: 33px 125px;
}

.logoblack
{
  background-image: url('../img/superscribe-black.svg');
  background-size: 297px 80px;
  background-repeat:no-repeat;
  display: block;
  padding: 40px;
}

.bluetint
{
  background: rgba(41, 128, 185, 0.15);
};
 
#content p {
  margin: 0 0 25px;
}

.feature .title
{
	text-transform: uppercase;
}

.nuget-badge code {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #202020;
	border: 4px solid silver;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #6e6e6e;
	color: #e2e2e2;
	display: block;
	font: 1.5em 'andale mono','lucida console',monospace;
	line-height: 1.5em;
	overflow: auto;
	padding: 15px;
	margin-bottom: 1.2em;
}

.feature .title {
  color: #2980b9;
}

.feature .title .de-em {
  font-weight: normal;
  color: rgba(85, 167, 154, 0.8);
}