<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col">
        <div class="block contact-block"> 
          <!--@todo: replace with company contact details-->
          <h3>Contact</h3>
          <address>
          <p><abbr title="Email"><i class="icon-envelope"></i></abbr> roysvork<span>@</span>gmail<span>.</span>com</p>
          <p><abbr title="Twitter"><i class="icon-twitter"></i></abbr><a href="https://twitter.com/roysvork">@roysvork</a></p>
          </address>
        </div>
      </div>
      <div class="col-md-5 col">
        <div class="block">
          <h3>About the author</h3>
          <p>I’m Pete, and I’ve been coding since I was 8 years old. I started with Turbo Basic, moved on to VB3 and now I develop highly scalable html5 web apps using ASP.NET, as well as providing contributions to community projects where I can.</p>
        </div>
      </div>
      <div class="col-md-4 col">
        <div class="block newsletter">
          <h3>Blog</h3>
          <p>You can keep up to date with that latest Superscribe updates by following the author's blog</p>          
          <p><i class="icon-home"></i> <a href="http://roysvork.wordpress.com/">Roysvork - Look what the code dragged in</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="toplink"><a href="#top" class="top-link" title="Back to top">Back To Top <i class="icon-chevron-up"></i></a></div>
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="col-md-6">
          <p>Site template by <a href="#">AppStrap</a> | Copyright 2012 &copy; AppStrap</p>
        </div>
      </div>
    </div>
  </div>
</footer>